{% extends "base.html" %}

{% block title %}Textbooks{% endblock %}

{% block content %}
    <!--New Books Section-->
    <br>
    <div class="container-fluid">
        <center>
        <div class="row g-3">
            {% for book in books %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 image-zoom" style="height: 400px; background-color:floralwhite; border-radius: 8px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                
                {% if book.html_page %}
                <a aria-current="page" href="{{ url_for('view_individual_textbook', book_page=book.html_page) }}">
                    {% if book.image_path %}
                        <img src="{{ url_for('static', filename=book.image_path) }}"
                             class="d-block w-80"
                             alt="{{ book.title }}"
                             style="max-height: 280px; object-fit: contain;"
                             title="{{ book.title }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='textbook-images/default-image.jpeg') }}"
                             alt="No image available">
                    {% endif %}
                </a>
                {% else %}
                    <p>No textbook page available</p>
                {% endif %}

                <div style="margin-top: 10px; font-weight: bold; color: plum;">
                    {{ book.title }}
                </div>
                <div style="color: rgba(136, 64, 136, 0.486);">
                    {{ book.author }}
                </div>
            </div>
            {% endfor %}
                     
        </div>
    </div>

    <!-- Add more book entries as needed -->
    <br>
    <div class="container-fluid" style="justify-content: right;">
        <span>Don't see your textbook?</span>
            <a href="{{ url_for('add_book')}}" class="btn" style="border-color: plum; color: plum;">Add it here</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function addToWishlist() {
            const textbook = {
                title: "Calculus: Early Transcendentals",
                author: "Stewart",
                image: "../textbook-images/calculus-textbook.jpeg"
            };

            const wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
            const isAlreadyInWishlist = wishlist.some(item => item.title === textbook.title);

            if (!isAlreadyInWishlist) {
                wishlist.push(textbook);
                localStorage.setItem('wishlist', JSON.stringify(wishlist));
                alert('Added to Wishlist!');
            } else {
                alert('This item is already in your Wishlist.');
            }
        }
    </script>
{% endblock %}